<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>

    <div class="content">
        {{ content }}
    </div>

    <footer>
        <ul>
            <li><a href="mailto:cory0x45@gmail.com">email</a></li>
            <li><a href="https://github.com/CoryEvans2324/coryevans2324.github.io/">github.com/coryevans2324.github.io</a></li>
        </ul>
    </footer>
</body>
</html>
